*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
body::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(EG-ar-20240909-TRIFECTA-perspective_9429eb2b-4155-4c3d-9218-7c04dfc9630e_large.jpg);
}
.parent{
    /* display: flex; */
}
form > div{
    display: flex;
    justify-content: center;
    border:  #00ff00;
    height: 60px;
}
form > div input{
    height: 100%;
    margin-left: 30px;
    width: 300px;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    border: solid thin #fff;
}
form > div input ::placeholder{
    color: #eee;
}
form .parent button{
    height: 100%;
    margin-left: 30px;
    width: 150px;
    border-radius: 8px;
}
/* .left{margin-right: 40px;} */
header{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    /* padding-top: 5px; */
}
main{
    display: flex;
    justify-content: center;
    align-items: end;
    border: red;
    height: 50vh;
    padding: 10px;
    /* border:#00ff00 ; */
    width: 100%;
}
.right,.left{
    width: 30%
}
.right{
    height: 40px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.right select,.right button{
    height: 100%;
}
.right select option{
    color: #000;
}
.right button{
    width: 100px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 8px;
}
.left img{
    width: 200px;
    height: 150px;
}
.right button:hover{
    cursor: pointer;
}
.right select{
    width: 160px !important;
    margin-right: -120px;
    background-color: transparent;
    color: #fff;
    border: solid #fff thin;
    border-radius: 8px;
}
.left{
    margin-left: 90px;
    /* position: fixed; */
    z-index: 1;
}
.right,main form, .center{z-index: 1;}
::placeholder,input{color:#fff; font-size: large;}
main  h1, main h3{
color: #fff;
text-align: center;
}
main h1{
    font-size: 40px
}
form .parent > button {
    background-color: #e50914;
    color: #fff;
    border:none;
    border-radius: 8px;
}
@media screen and (max-width: 520px){

    main h1{
        font-size: 30px
    }
    
    .right button{
        width: 80px;
        background-color: #e50914;
        color: #fff;
        border: none;
        border-radius: 8px;
    }
    form .parent > button {
        background-color: #e50914;
    }
    form > div{
        height: 40px;
    }
    .right select{
        width: 100px !important;
        margin-right: 20px;
    }
    .left img{
        width: 130px;
        height: 120px;
    }
    .center{padding: 10px 20px !important;}
    ::placeholder,input{color:#fff; font-size: medium;}
}